*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

.clearfix::after{
	content:"";
	display: block;
	clear:both;
}

main{
	width:960px;
	margin:50px auto;
}

.step{
	float:left;
	width: 300px;
	margin-right:30px;
	padding:10px;
	position:relative;
	border:1px solid lightgray;
}

.step:last-child{
	margin-right:0;
}

.step-image1{
	height:150px;
	background-image:url(img/flow01.png);
	background-size:cover;
	background-position:bottom;
}
.step-image2{
	height:150px;
	background-image:url(img/flow02.png);
	background-size:cover;
	background-position:bottom;
}
.step-image3{
	height: 150px;
	background-image:url(img/flow03.png);
	background-size:cover;
	background-position:bottom;
}

.step-number{
	position:absolute;
	top:0;
	left:0;
	padding:3px;
	color: white;
	background-color:orange;
}

.title{
	margin: 15px 0 5px;
}

@media screen and (max-width:768px){
	main{
		width:90%;
		margin: 0 auto;
	}
	.step{
		width:100%;
		margin-top:50px;

	}
	.step:nth-child(2){
		width:100%;
		margin-top:20px;
		margin-bottom:20px;
	}
	.step:nth-child(3){
		width:100%;
		margin-top:0px;
		margin-bottom:50px;
	}
	.title{
		width: 100%
	}
	.text{
		width: 100%
	}
	.step-image1, .step-image2, .step-image3{
		width: 100%
	}
}